<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066931660509-e4a2c49thee8ldevdr6tsjlgk37cl23r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066931660509-e4a2c49thee8ldevdr6tsjlgk37cl23r</string>
	<key>API_KEY</key>
	<string>AIzaSyCkxnJEbz-UCNZsMlntzjfxhqZxMK2sNWY</string>
	<key>GCM_SENDER_ID</key>
	<string>1066931660509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoStart</string>
	<key>PROJECT_ID</key>
	<string>todo-10cd4</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-10cd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066931660509:ios:c11e8b5303461a2fa49d34</string>
</dict>
</plist>